<main id="checkout">
    <div class="checkout-header">
        <div class="checkout-introduce">
            <h1 class="checkout-title">Checkout</h1>
            <div class="checkout-breadcrumb">
                <a href="/">Home</a>
                <img src="/img/arrow_right.svg" alt="" />
                <p>Checkout</p>
            </div>
        </div>
    </div>

    <div class="checkout-page">
        <div class="checkout-content">
            <form id="checkout-form">
                <div class="billing-details">
                    <h2 class="sub-title">Billing details</h2>

                    
                        <div class="name">
                            <div class="form-group">
                                <label for="first-name">First Name<span id="required">*</span></label>
                                <input
                                    type="text"
                                    id="first-name"
                                    name="first-name"
                                    required
                                />
                            </div>

                            <div class="form-group">
                                <label for="last-name">Last Name<span id="required">*</span></label>
                                <input
                                    type="text"
                                    id="last-name"
                                    name="last-name"
                                    required
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="company-name">Company Name (Optional)</label>
                            <input
                                type="text"
                                id="company-name"
                                name="company-name"
                            />
                        </div>

                        <div class="form-group">
                            <label for="country">Country / Region</label>
                            <select name="country" id="country" required>
                                <option value="USA">United States</option>
                                <option value="VIE">Vietnam</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="street-address">Street address<span id="required">*</span></label>
                            <input
                                type="text"
                                id="street-address"
                                name="street-address"
                                required
                            />
                        </div>

                        <div class="form-group">
                            <label for="city">Town / City<span id="required">*</span></label>
                            <input type="text" id="city" name="city" required />
                        </div>

                        <div class="form-group">
                            <label for="zip-code">ZIP code<span id="required">*</span></label>
                            <input
                                type="text"
                                id="zip-code"
                                name="zip-code"
                                required
                            />
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone<span id="required">*</span></label>
                            <input type="tel" id="phone" name="phone" required />
                        </div>

                        <div class="form-group">
                            <label for="email">Email address<span id="required">*</span></label>
                            <input type="email" id="email" name="email" required />
                        </div>

                        <div class="form-group">
                            <textarea
                                name="additional-info"
                                id="additional-info"
                                placeholder="Additional information"
                            ></textarea>
                        </div>
                    
                </div>

                <div class="order-summary">
                    <div class="order-summary-content">
                        <div class="order-summary-info">
                            <div class="product">
                                <h2 class="sub-title">Product</h2>

                                {{#each cart}}
                                    <div class="product-info">
                                        <p class="product-name">{{this.name}}</p>
                                        <p class="product-quantity">X
                                            <span
                                                style="margin-right: 10px;"
                                            ></span>
                                            {{this.quantity}}</p>
                                    </div>
                                {{/each}}

                                <p class="total">Total</p>
                            </div>

                            <div class="subtotal">
                                <h2 class="sub-title">Subtotal</h2>

                                {{#each cart}}
                                    <p
                                        class="product-price product-subtotal"
                                        data-price="{{this.subtotal}}"
                                    >{{this.subtotal}}</p>
                                {{/each}}

                                <p
                                    class="product-price product-total"
                                    data-price="{{total}}"
                                >{{total}}</p>
                            </div>
                        </div>

                        <div class="separate"></div>

                        <div class="order-summary-payment">

                            <label for="email">Delivery method</label>

                            <div id="deliveryMethodContainer">
                                <select name="deliveryUnit" id="deliveryUnit" required>
                                    <option value="{{0}}" selected disabled>Select delivery unit</option>
                                    {{#each deliveryUnit}} 
                                        <option value="{{this.fee}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            
                                <p> Delivery fee: <span id="deliveryFee">0</span> </p>
                            </div>
                            

                            <label for="email">Payment method</label>
                            <select name="payment" id="payment" required>
                                <option value="" selected disabled>Select payment method</option>
                                {{#each paymentMethod}}
                                    <option value="{{this.name}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                            {{!-- <label>
                                <div class="payment-option">
                                    <input
                                        type="radio"
                                        name="payment"
                                        value="bank"
                                        checked
                                    />

                                    <span>Direct Bank Transfer</span>
                                </div>

                                <p class="payment-desc">
                                    Make your payment directly into our bank
                                    account. Please use your Order ID as the payment
                                    reference. Your order will not be shipped until
                                    the funds have cleared in our account.
                                </p>
                            </label>

                            <label>
                                <div class="payment-option">
                                    <input
                                        type="radio"
                                        name="payment"
                                        value="cod"
                                    />

                                    <span>Cash On Delivery</span>
                                </div>
                            </label> --}}
                        </div>

                        <p class="privacy-notice">
                            Your personal data will be used to support your
                            experience throughout this website, to manage access to
                            your account, and for other purposes described in our
                            <b>privacy policy.</b>
                        </p>

                        <button class="button place-order-btn" type="submit">Place order</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="checkout-services">
        <div class="services-content">
            <div class="service">
                <img src="/img/trophy_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>High Quality</h3>
                    <p>crafted from top materials</p>
                </div>
            </div>
            <div class="service">
                <img src="/img/warranty_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>Warranty Protection</h3>
                    <p>Over 2 years</p>
                </div>
            </div>
            <div class="service">
                <img src="/img/shipping_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>Free Shipping</h3>
                    <p>Order over 150 $</p>
                </div>
            </div>
            <div class="service">
                <img src="/img/support_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>24 / 7 Support</h3>
                    <p>Dedicated support</p>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/script/checkout.js"></script>