<main id="orderDetail">
    <div class="orderDetail-header">
        <div class="orderDetail-introduce">
            <h1 class="orderDetail-title">Order Detail</h1>
            <div class="orderDetail-breadcrumb">
                <a href="/list-orders">List Orders</a>
                <img src="/img/arrow_right.svg" alt="" />
                <p>Order Detail</p>
            </div>
        </div>
    </div>

    <div class="orderDetail-body">
        <div class="orderDetail-container">
            <h2 class="sub-title">Order Detail</h2>

            <div class="orderDetail-table">
                <table>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th> Review </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.quantity}}</td>
                                <td
                                    class="product-price"
                                    data-price="{{this.price}}"
                                >{{this.price}}</td>
                                <td
                                    class="product-price product-total"
                                    data-price="{{multiply
                                        this.price
                                        this.quantity
                                    }}"
                                >{{multiply this.price this.quantity}}</td>
                                <td><span
                                        onclick="reviewProduct('{{this.id}}', '{{this.orderDetailId}}')"
                                    >Review</span></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<script src="/script/orderDetail.js"></script>