<main id="shop">
    <div class="shop-header">
        <div class="shop-introduce">
            <h1 class="shop-title">Shop</h1>
            <div class="shop-breadcrumb">
                <a href="/">Home</a>
                <img src="/img/arrow_right.svg" alt="" />
                <p>Shop</p>
            </div>
        </div>
    </div>

    <div class="shop-toolbar">
        <div class="toolbar-content">
            <div class="toolbar-left">
                <button class="filter-btn">
                    <img src="/img/filter.svg" alt="" />
                    <p>Filter</p>
                </button>

                <button class="view-btn grid-view">
                    <img src="/img/grid_view.svg" alt="" />
                </button>

                <button class="view-btn list-view">
                    <img src="/img/list_view.svg" alt="" />
                </button>

                <div class="toolbar-separate"></div>

                <p class="results-count">Showing 1–16 of 32 results</p>
            </div>

            <div class="toolbar-right">
                <div class="toolbar-show">
                    <p class="show-count">Show</p>
                    <input type="number" id="show-count" value="16" min="1" />
                </div>

                <div class="toolbar-sort">
                    <p class="sort-by">Sort by</p>
                    <select id="sort-by">
                        <option value="default">Default</option>
                        <option value="popularity">Popularity</option>
                        <option value="rating">Rating</option>
                        <option value="price">Price</option>
                    </select>
                </div>
            </div>

        </div>
    </div>

    <div class="products">
        <div class="products-content">
            <ul class="list-products">
                {{#each products}}
                    <li class="product">
                        <div class="product-card">
                            <a href="#!" class="product-btn">
                                <img
                                    src="/img/inspiration_bedroom.jpg"
                                    alt="{{this.name}}"
                                    class="product-image"
                                />

                                <div class="product-info">
                                    <h3 class="product-name">{{this.name}}</h3>

                                    <p
                                        class="product-desc"
                                    >{{this.description}}</p>

                                    <p
                                        class="product-price"
                                        data-price="{{this.price}}"
                                    >{{this.price}}</p>
                                </div>
                            </a>
                        </div>

                        <div class="product-hover">
                            <div class="product-actions">
                                <a
                                    href="/shop/{{this.slug}}"
                                    class="button cart-btn"
                                >View details</a>

                                <div class="actions">
                                    <a href="#!" class="action share">
                                        <img src="/img/share.svg" alt="" />
                                        <p class="action-name">Share</p>
                                    </a>

                                    <a href="#!" class="action compare">
                                        <img src="/img/compare.svg" alt="" />
                                        <p class="action-name">Compare</p>
                                    </a>

                                    <a href="#!" class="action like">
                                        <img src="/img/like.svg" alt="" />
                                        <p class="action-name">Like</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="shop-pagination">
        <button class="page active">1</button>
        <button class="page">2</button>
        <button class="page">3</button>
        <button class="page">Next</button>
    </div>

    <div class="shop-services">
        <div class="services-content">
            <div class="service">
                <img src="/img/trophy_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>High Quality</h3>
                    <p>crafted from top materials</p>
                </div>
            </div>
            <div class="service">
                <img src="/img/warranty_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>Warranty Protection</h3>
                    <p>Over 2 years</p>
                </div>
            </div>
            <div class="service">
                <img src="/img/shipping_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>Free Shipping</h3>
                    <p>Order over 150 $</p>
                </div>
            </div>
            <div class="service">
                <img src="/img/support_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>24 / 7 Support</h3>
                    <p>Dedicated support</p>
                </div>
            </div>
        </div>
    </div>
</main>