<main id="shop">
    <div class="shop-header">
        <div class="shop-introduce">
            <h1 class="shop-title">Shop</h1>
            <div class="shop-breadcrumb">
                <a href="/">Home</a>
                <img src="/img/arrow_right.svg" alt="" /> 
                <p>Shop</p>
            </div>
        </div>
    </div>

    <div class="shop-toolbar">
        <div class="toolbar-content">
            <div class="toolbar-left">
                <button class="filter-btn" onclick="filter_toggle()">
                    <img src="/img/filter.svg" alt="" />
                    <p>Filter</p>
                </button>

                <button class="view-btn grid-view">
                    <img src="/img/grid_view.svg" alt="" />
                </button>

                <button class="view-btn list-view">
                    <img src="/img/list_view.svg" alt="" />
                </button>

                <div class="toolbar-separate"></div>

                <p class="results-count">Showing 1–8 of 25 results</p>
            </div>

            <div class="toolbar-right">
                <div class="toolbar-show">
                    <p class="show-count">Show</p>
                    <input type="number" id="show-count" value="8" min="1" onchange="applyFilters()"/>
                </div>

                <div class="toolbar-sort">
                    <p class="sort-by">Sort by</p>
                    <select id="sort-by" onchange="applyFilters()">
                        <option value="default">Default</option>
                        <option value="stock_0">Decrease Stock</option>
                        <option value="stock_1">Increase Stock</option>
                        <option value="rating_0">Decrease Rating</option>
                        <option value="rating_1">Increase Rating</option>
                        <option value="price_0">Decrease Price</option>
                        <option value="price_1">Increase Price</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="shop-container">
        <div class="filter-sidebar" id="filter-sidebar">
            <div class="filter-options filter-category">
                <h3>Categories</h3>

                {{#each categories}}
                    <label>
                        <input
                            type="checkbox"
                            id="{{this._id}}"
                            name="{{this._id}}"
                            value="{{this._id}}"
                            onchange="applyFilters()"
                        />
                        <span>{{this.name}}</span>
                    </label>
                {{/each}}
            </div>

            <div class="separate"></div>

            <div class="filter-options filter-brand">
                <h3>Brands</h3>

                {{#each brands}}
                    <label>
                        <input
                            type="checkbox"
                            id="{{this._id}}"
                            name="{{this._id}}"
                            value="{{this._id}}"
                            onchange="applyFilters()"
                        />
                        <span>{{this.name}}</span>
                    </label>
                {{/each}}
            </div>

            <div class="separate"></div>

            <div class="filter-options">
                <div class="option-header">
                    <h3>Price</h3>

                    <span id="price-value">Rp 0</span>
                </div>
                <input
                    type="range"
                    id="price"
                    name="price"
                    min="0"
                    max="20000000"
                    value="0"
                    oninput="updatePrice(this.value)"
                    onchange="applyFilters()"
                />
            </div>
        </div>

        <div class="products">
            <div class="products-content">
                <ul class="list-products">
                </ul>
            </div>
        </div>
    </div>

    <div class="shop-pagination">
    </div>

    <div class="shop-services">
        <div class="services-content">
            <div class="service">
                <img src="/img/trophy_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>High Quality</h3>
                    <p>crafted from top materials</p>
                </div>
            </div>
            <div class="service">
                <img src="/img/warranty_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>Warranty Protection</h3>
                    <p>Over 2 years</p>
                </div>
            </div>
            <div class="service">
                <img src="/img/shipping_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>Free Shipping</h3>
                    <p>Order over 150 $</p>
                </div>
            </div>
            <div class="service">
                <img src="/img/support_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>24 / 7 Support</h3>
                    <p>Dedicated support</p>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/script/shop.js"></script>